---
---
<footer class="bg-sky-400 rounded-lg shadow m-4 md:flex mt-20">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:items-center md:justify-between">
        <span class="text-sm text-b sm:text-center dark:text-black-300 font-bold">
          <a href="https://www.instagram.com/polarsystem._/" target="_blank" class="hover:underline cursor-pointer">Obras |PolarSystem ©2021</a>
        </span>
    </div>
</footer>
