---
import CardInfo from "../components/CardInfo.astro";

---
  <section id="nosotros"class="overflow-hidden h-screen w-full mx-auto bg-transparent py-8 sm:py-16">
      <div class="flex justify-center  h-screen items-center flex-col m-auto w-full max-w-[800px] max-sm:w-[400px]">
        <h1 class="font text-4xl font-bold tracking-tight text-white sm:text-6xl max-sm:text-5xl">¿Que ofrecemos?</h1>
          <CardInfo /> 
      <div/>
  </section>