---
---
<div id="servicios" class="container h-full px-4 gap-10 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20 text-white">
    <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12 text-white">
      <div>
        <p class="inline-block px-3 py-px mb-4 text-xs font-semibold text-center tracking-wider text-yellow-200 uppercase rounded-full bg-teal-accent-400">
          Realizando nuestro trabajo 
        </p>
      </div>
      <h2 class="max-w-lg mb-6 font-sans text-5xl font-bold leading-none tracking-tight text-white sm:text-4xl md:mx-auto">
        <span class="relative inline-block">
          <svg viewBox="0 0 52 24" fill="currentColor" class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block">
            <defs>
              <pattern id="ea469ae8-e6ec-4aca-8875-fc402da4d16e" x="0" y="0" width=".135" height=".30">
                <circle cx="1" cy="1" r=".7"></circle>
              </pattern>
            </defs>
          </svg>
          <span class="relative leading-loose text-yellow-300">Reflejando Elegancia </span>
        </span>
        Construyendo Espacios
        <hr class="m-2 border-4 border-yellow-300">
         Creando Experiencias
      </h2>
    </div>
    <div class="grid gap-8 row-gap-10 sm:grid-cols-2 items-center justify-center">
      <div class="flex justify-center items-center flex-col max-w-md sm:mx-auto sm:text-center p-10">
        <div class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-blue-400 sm:mx-auto sm:w-24 sm:h-24">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-lock-open" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 11m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z" /><path d="M12 16m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M8 11v-5a4 4 0 0 1 8 0" /></svg>
        </div>
        <h6 class="mb-3 text-xl font-bold leading-5 p-5">Seguridad</h6>
        <p class="mb-3 text-md text-gray-400 font-semibold text-center">
          Ofrecemos films antivandalicos que fortalecen la seguridad de tu espacio, proporcionando una capa adicional de protección contra posibles daños.
        </p>
      </div>
      <div class="flex items-center justify-center flex-col max-w-md sm:mx-auto sm:text-center p-10">
        <div class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-blue-400 sm:mx-auto sm:w-24 sm:h-24">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
        </div>
        <h6 class="mb-3 text-xl font-bold leading-5 p-5">Privacidad </h6>
        <p class="mb-3 text-md font-semibold text-center text-gray-400">
          Transformamos tus espacios con materiales espejados y esmerilados, brindando la privacidad necesaria sin comprometer el estilo y la estética de tu entorno.
        </p>
      </div>
      <div class="flex items-center justify-center flex-col max-w-md sm:mx-auto sm:text-center p-10">
        <div class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-blue-400 sm:mx-auto sm:w-24 sm:h-24">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-temperature" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 13.5a4 4 0 1 0 4 0v-8.5a2 2 0 0 0 -4 0v8.5" /><path d="M10 9l4 0" /></svg>
        </div>
        <h6 class="mb-3 p-5 text-xl font-bold leading-5">Aislamiento Térmico Eficiente</h6>
        <p class="mb-3 text-md font-semibold text-center text-gray-400">
          Adaptamos nuestras soluciones a tus necesidades específicas, ofreciendo una amplia gama de films especiales que cumplen con los requisitos técnicos y estéticos de cada proyecto.
        </p>
      </div>
      <div class="flex items-center justify-center flex-col max-w-md sm:mx-auto sm:text-center p-10">
        <div class="flex items-center justify-center w-16 h-16 p-2 mb-4 rounded-full bg-blue-400 sm:mx-auto sm:w-24 sm:h-24">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-businessplan" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M16 6m-5 0a5 3 0 1 0 10 0a5 3 0 1 0 -10 0" /><path d="M11 6v4c0 1.657 2.239 3 5 3s5 -1.343 5 -3v-4" /><path d="M11 10v4c0 1.657 2.239 3 5 3s5 -1.343 5 -3v-4" /><path d="M11 14v4c0 1.657 2.239 3 5 3s5 -1.343 5 -3v-4" /><path d="M7 9h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" /><path d="M5 15v1m0 -8v1" /></svg>
        </div>
        <h6 class="mb-3 p-5 text-xl font-bold leading-5">Venta por Mayor</h6>
        <p class="mb-3 text-md font-semibold text-center text-gray-400">
          Adaptamos nuestras soluciones a tus necesidades específicas, ofreciendo una amplia gama de films especiales que cumplen con los requisitos técnicos y estéticos de cada proyecto.
        </p>
      </div>
  </div>
</div>