---
---

<section id="vehicular" class="text-gray-600 body-font border-dashed border-t-2">
    <div class="container flex h-full w-full flex-col px-5 py-24 mx-auto text-white">
                <div class="flex flex-col text-center w-full mb-20 gap-20">
                    <h1 class="sm:text-6xl text-5xl title-font mb-4 text-yellow-200 font-bold tracking-widest">Polarizado Vehicular</h1>
                    <p class="lg:w-2/3 mx-auto leading-relaxed text-xl">Experimenta la diferencia con nuestra gama de polarizados diseñados para brindar claridad visual, resistencia a arañazos y una apariencia sofisticada. Transforma tu viaje en una experiencia más segura y cómoda, mientras resaltas la estética de tu vehículo con el toque moderno que solo nuestros polarizados pueden ofrecer.</p>
                    <hr class="border-4 border-yellow-200">
                    <div id="vehicle">
                        <p class="text-4xl font-bold mx-auto leading-relaxed text-yellow-200 underline ">Nuestros Trabajos</p>
                    </div>
                    <div id="carImg" class="flex justify-center items-center gap-5 ">
                        <div class="max-w-lg bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                                <img class="rounded-lg" src="/car-1.jpg" alt="" />
                        </div>
                        <div class="max-w-lg sm:max-w-lg bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                                <img class="rounded-lg" src="/car-2.jpg" alt="" />
                        </div>
                    </div>
                </div>
        
            <div class="flex flex-wrap -m-4 text-center gap-10 items-center justify-center">
                <div class="relative cursor-pointer">
                    <span class=" top-0 left-0 w-full h-full bg-indigo-500 rounded-lg"></span>
                    <div class="relative p-6 bg-transparent border-2 border-yellow-300 rounded-lg hover:scale-105 transition duration-500
                    hover:bg-slate-50
                    hover:text-black">
                        <div class="flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-big-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 9h8v-3.586a1 1 0 0 1 1.707 -.707l6.586 6.586a1 1 0 0 1 0 1.414l-6.586 6.586a1 1 0 0 1 -1.707 -.707v-3.586h-8a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1z" /></svg>
                            <h3 class="my-2 ml-3 text-lg font-bold">Ploteo para tu auto</h3>
                        </div>
                        
                    </div>
                </div>
                <div class="relative cursor-pointer">
                    <span class=" top-0 left-0 w-full h-full bg-indigo-500 rounded-lg"></span>
                    <div class="relative p-6 bg-transparent border-2 border-yellow-300 rounded-lg hover:scale-105 hover:bg-slate-50
                    hover:text-black transition duration-500">
                        <div class="flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-big-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 9h8v-3.586a1 1 0 0 1 1.707 -.707l6.586 6.586a1 1 0 0 1 0 1.414l-6.586 6.586a1 1 0 0 1 -1.707 -.707v-3.586h-8a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1z" /></svg>
                            <h3 class="my-2 ml-3 text-lg font-bold ">Pulido de opticas</h3>
                        </div>
                    </div>
                </div>
                <div class="relative cursor-pointer">
                    <span class=" top-0 left-0 w-full h-full bg-indigo-500 rounded-lg"></span>
                    <div class="relative p-6 bg-transparent border-2 border-yellow-300 rounded-lg hover:scale-105 transition duration-500
                    hover:bg-slate-50
                    hover:text-black">
                        <div class="flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-big-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 9h8v-3.586a1 1 0 0 1 1.707 -.707l6.586 6.586a1 1 0 0 1 0 1.414l-6.586 6.586a1 1 0 0 1 -1.707 -.707v-3.586h-8a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1z" /></svg>
                            <h3 class="my-2 ml-3 text-lg font-bold">Instalacion de alarmas</h3>
                        </div>
                        
                    </div>
                </div>
                <div class="relative  justify-center items-center cursor-pointer sm:w-[10vw]w-[20vw] ">
                    <span class=" top-0 left-0 w-full h-full bg-indigo-500 rounded-lg"></span>
                    <div class="relative p-6 bg-transparent border-2 border-yellow-300 rounded-lg hover:scale-105 transition duration-500
                    hover:bg-slate-50
                    hover:text-black">
                        <div class="flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-big-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 9h8v-3.586a1 1 0 0 1 1.707 -.707l6.586 6.586a1 1 0 0 1 0 1.414l-6.586 6.586a1 1 0 0 1 -1.707 -.707v-3.586h-8a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1z" /></svg>
                            <h3 class="my-2 ml-3 text-lg font-bold">Reparacion y carga de aire acondicionado
                            </h3>
                        </div>
                        
                    </div>
                </div>
                <div class="relative cursor-pointer">
                    <span class=" top-0 left-0 w-full h-full bg-indigo-500 rounded-lg"></span>
                    <div class="relative p-6 bg-transparent border-2 border-yellow-300 rounded-lg hover:scale-105 transition duration-500
                    hover:bg-slate-50
                    hover:text-black">
                        <div class="flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-big-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 9h8v-3.586a1 1 0 0 1 1.707 -.707l6.586 6.586a1 1 0 0 1 0 1.414l-6.586 6.586a1 1 0 0 1 -1.707 -.707v-3.586h-8a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1z" /></svg>
                            <h3 class="my-2 ml-3 text-lg font-bold">Equipamiento para el auto</h3>
                        </div>
                        
                    </div>
                </div>
            </div>
         </div>
</section>
